:host {
    border: 1px solid green;
    flex-direction: column;
}

p {
    align-self: center;
    text-align: center;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 10px;
}