<div class="accordion" id="accordionExample">
    <button type="button" data-toggle="collapse" data-target="#collapseOne">Clase 01</button>
    <div id="collapseOne" class="collapse show">
        <div><a href="/ejercicio-i"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Ejercicio 01</a></div>
        <div><a href="/login"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Login</a></div>
        <div><a href="/bienvenido"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Bienvenido</a></div>
        <div><a href="/error"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Error</a></div>
    </div>
    <button type="button" data-toggle="collapse" data-target="#collapseTwo">Clase 02</button>
    <div id="collapseTwo" class="collapse show">
        <div><a href="/ejercicio-i"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Ejercicio 02</a></div>
    </div>
</div>