<style>
    :host {
        border: 1px solid green;
        padding: 5px;
        display: inline-flex;
        flex-direction: column;
        background-color: grey;
        margin:auto;
        transform: translate(-50%, -50%);

    }
    #result-wrapper {
        display: inline-flex;
        flex-direction: row;
        background-color: grey;
    }
    .conttrol {
        border: 1px solid black;
        display: inline-flex;
        flex-direction: column;
        margin: 0 0 10px 0;
        padding: 5px;
        background-color: whitesmoke;
    }
    #title {
        font-family: 'Consolas' 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: x-large;
        padding-bottom: 10px;
    }
    </style>
    <p id="title">Login</p>
    <div class="conttrol">
        <label for="">Usuario:</label>
        <input type="text" name="" id="" >
    </div>
    <div class="conttrol">
        <label for="">Contraseña:</label>
        <input type="text" name="" id="" >
    </div>

    <button>Login</button>
    <button>Limpiar</button>