<style>
:host {
    border: 1px solid green;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    transform: translate(50%, 100%);
    background-color: grey;
}
#result-wrapper {
    display: inline-flex;
    flex-direction: row;
    background-color: grey;
}
.conttrol {
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: whitesmoke;
}
#title {
    font-family: 'Consolas' 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
}
</style>
<p id="title">Claculadora</p>
<div class="conttrol">
    <label for="">Edad 1:</label>
    <input type="number" name="" id="" [(ngModel)]="edad1">
</div>
<div class="conttrol">
    <label for="">Edad 2:</label>
    <input type="number" name="" id="" [(ngModel)]="edad2">
</div>
<div id="result-wrapper">
    <div class="conttrol">
        <label for="">Suma:</label>
        <input type="number" name="" id="" disabled [(ngModel)]="sum">
    </div>
    <div class="conttrol">
        <label for="">Promedio:</label>
        <input type="number" name="" id="" disabled [(ngModel)]="avg">
    </div>
</div>

<button (click)="onCalculate()">Calcular</button>
<button (click)="onReset()">Limpiar</button>