<div id="calc-container">
    <p id="title">Claculadora</p>
    <div class="conttrol">
        <label for="">Edad 1:</label>
        <input type="number" name="" id="" [(ngModel)]="edad1">
    </div>
    <div class="conttrol">
        <label for="">Edad 2:</label>
        <input type="number" name="" id="" [(ngModel)]="edad2">
    </div>
    <div id="result-wrapper">
        <div class="conttrol">
            <label for="">Suma:</label>
            <input type="number" name="" id="" disabled [(ngModel)]="sum">
        </div>
        <div class="conttrol">
            <label for="">Promedio:</label>
            <input type="number" name="" id="" disabled [(ngModel)]="avg">
        </div>
    </div>
    
    <button (click)="onCalculate()">Calcular</button>
    <button (click)="onReset()">Limpiar</button>
</div>